<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="/static/app.css?3">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/app.css?3">
</head>
<body class="container">
 <h1>Wildlife camera &#x1F333 &#x1F98A</h1>
  <button type="button" onclick="window.location='/'">Back to homepage</button>
  <h2>Uptime logs &#x23F2</h2>
  <h3>System uptime - last 10 runs - most recent first</h3>
  {% for log in uptimelogs %}
    <p>{{ log }}</p>
  {% endfor %}
</body>
</html>
