<!doctype html>
<html>
<head>
</head>
<body>
 <h1>Wildlife camera &#x1F333 &#x1F98A</h1>
  <button type="button" onclick="window.location='/'">Back to homepage</button>
  <h2>Videos &#x1F4FA</h2>
  <span>You have {{videos|length}} videos<span>  
  {% for video_id,video_title in videos %}
    <div>
      <h3>{{ video_title }}</h3>
      <video width="320" height="240" controls>
         <source src="./static/videos/{{ video_id }}" type="video/mp4">
         Cannot view video elements in this browser
      </video>
    </div>
  {% endfor %}

</body>
</html>
