<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/static/app.css?3">
</head>
<body class="container">
 <h1>Wildlife camera &#x1F333 &#x1F98A</h1>
  <button type="button" onclick="window.location='/'">Back to homepage</button>
  <h2>Videos &#x1F4FA</h2>
  <span>You have {{videos|length}} videos (most recent first).</span>  
  <div class="videos">
    {% for video_id,video_title in videos %}
      <div class="video">
        <div class="videoheader">
          <h3 class="videoname">Video: {{ video_title }}</h3>
        </div>
        <video width="320" height="240" controls>
          <source src="./static/videos/{{ video_id }}" type="video/mp4">
          Cannot view video elements in this browser
        </video>
        <button class="videobutton" type="button" onclick="window.location='/videos/{{ video_id }}'">Download</button>
      </div>
    {% endfor %}
  </div>
</body>
</html>
